<!DOCTYPE html>
<meta charset="utf-8">
<title>SANKEY Experiment</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="/static/css/styles.css">
<style>

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  /* text-shadow: 0 1px 0 #fff; */
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: .7;
}

</style>
<body>

    <p id="chart">

    <table class="t01" id="t01" style="width:25%">
        <tr>
            <th>Node Name</th>
            <th>Node Color</th>
            <!-- <th><button type="button" class="add-row">+</button></th> -->
            <th><input type="button" class="n-add-row" value="+" style="display: block; margin: 0 auto;"></th>
        </tr>
        <tr class='node-row'>
            <td><input class='node-name' name="node-name" type="text" placeholder="Node Name" size="25%" /></td>
            <td><input class='node-color' name="node-color" type="text" placeholder="Node Group" size="25%" /></td>
            <!-- <td><button type="button" class="delete-row">-</button></td> -->
            <td><input type="button" class="n-delete-row" value="-" style="display: block; margin: 0 auto;"></td>
        </tr>
        <tr class='node-row' id="r1">
            <td><input class='node-name' name="node-name" type="text" value="Wages" placeholder="Node Name" size="25%" /></td>
            <td><input class='node-color' name="node-color" type="text" value="blue" placeholder="Node Group" size="25%" /></td>
            <!-- <td><button type="button" class="delete-row">-</button></td> -->
            <td><input type="button" class="n-delete-row" value="-" style="display: block; margin: 0 auto;"></td>
        </tr>
        <tr class='node-row' id='r2'>
            <td><input class='node-name' name="node-name" type="text" value="Income" placeholder="Node Name" size="25%" /></td>
            <td><input class='node-color' name="node-color" type="text" value="pink" placeholder="Node Group" size="25%" /></td>
            <!-- <td><button type="button" class="delete-row">-</button></td> -->
            <td><input type="button" class="n-delete-row" value="-" style="display: block; margin: 0 auto;"></td>
        </tr>

    </table>

    <table class="t02" id="t02" style="width:25%">
        <tr>
            <th>Source Node</th>
            <th>Target Node</th>
            <th>Amount</th>
            <!-- <th><button type="button" class="add-row">+</button></th> -->
            <th><input type="button" class="l-add-row" value="+" style="display: block; margin: 0 auto;"></th>
        </tr>
        <tr class='link-row'>
            <td><input class='link-source' name="link-source" type="text" placeholder="Link Source" size="25%" /></td>
            <td><input class='link-target' name="link-target" type="text" placeholder="Link Target" size="25%" /></td>
            <td><input class='link-value' name="link-value" type="text" placeholder="Link Value" size="25%" /></td>
            <!-- <td><button type="button" class="delete-row">-</button></td> -->
            <td><input type="button" class="l-delete-row" value="-" style="display: block; margin: 0 auto;"></td>
        </tr>
        <tr class='link-row' id="lr1">
            <td><input class='link-source' name="link-source" type="text" value="Wages" placeholder="Link Source" size="25%" /></td>
            <td><input class='link-target' name="link-target" type="text" value="Income" placeholder="Link Target" size="25%" /></td>
            <td><input class='link-value' name="link-value" type="text" value="10" placeholder="Link Value" size="25%" /></td>
            <!-- <td><button type="button" class="delete-row">-</button></td> -->
            <td><input type="button" class="l-delete-row" value="-" style="display: block; margin: 0 auto;"></td>
        </tr>


    </table>



<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/static/js/sankey.js"></script>
<script>





var SCRIPT_ROOT = {{ request.script_root| tojson | safe }};
var PREPARE = SCRIPT_ROOT + "/_prepare";
var GET_NODES = SCRIPT_ROOT + "/_get_nodes";
var CREATE_NODE = SCRIPT_ROOT + "/_create_node";
// var BATCH_NODES = SCRIPT_ROOT + "/_batch_nodes";
var CREATE_LINK = SCRIPT_ROOT + "/_create_link";
// var BATCH_LINK = SCRIPT_ROOT + "/_batch_links";

var COLORS = ['blue', 'yellow', 'green', 'orange', 'pink', 'black']


var graph = []
var all_nodes = new Set()
var all_links = 0


$(document).ready(function () {
    // Do the following when the page is finished loading
    

    prepare();

    var node_row_1 = $('#r1')
    var node_row_2 = $('#r2')
    var link_row_1 = $('#lr1')
    create_node(node_row_1, false);
    create_node(node_row_2, false);
    
    // alert(all_nodes);

    window.setTimeout(create_link(link_row_1, true), 10000000);
    // create_link(link_row_1, false);
    // draw();


});

function prepare(row, reload) {
        $.getJSON(PREPARE, {}, function (data) {
            var rslt = data.result;

            } // end of handler function
        );// End of getJSON
    }

$(document).on('click', '.n-add-row', function() { 
        node_name = '<input class="node-name" name="node-name" type="text" placeholder="Node Name" size="25%" />';
        node_color = '<input class="node-color" name="node-color" type="text" placeholder="Node Color" size="25%" />';
        node_button = '<input type="button" class="n-delete-row" value="-" style="display: block; margin: 0 auto;">';
        $('.t01 tr:first').after('<tr class="node-row"><td>' + node_name + '</td><td>' + node_color + '</td><td>' + node_button + '</td></tr>');
    });

    $(document).on('click', '.n-delete-row', function(){
        $(this).parent().parent().remove();
        redraw();
    });

    $(document).on('click', '.l-add-row', function() { 
        link_source = '<input class="link-source" name="link-source" type="text" placeholder="Link Source" size="25%" />';
        link_target = '<input class="link-target" name="link-target" type="text" placeholder="Link Target" size="25%" />';
        link_value = '<input class="link-value" name="link-value" type="text" placeholder="Link Value" size="25%" />';
        link_button = '<input type="button" class="l-delete-row" value="-" style="display: block; margin: 0 auto;">'
        $('.t02 tr:first').after('<tr class="link-row"><td>' + link_source + '</td><td>' + link_target + '</td><td>' + link_value + '</td><td>' + link_button + '</td></tr>');
    });

    $(document).on('click', '.l-delete-row', function(){
        $(this).parent().parent().remove();
        redraw();
    });

    $(document).on('keyup', '.node-row', function() {
        var node_row = $(this)
        var node_name = node_row.find("input[name='node-name']");
        var node_color = node_row.find("input[name='node-color']");

        if(node_name.val() == "" && node_color.val() == "") {
            node_name.parent().css({'background-color': 'white'});
            node_color.parent().css({'background-color': 'white'});
        }
        else {
            if(node_name.val() == "") {
              node_name.parent().css({'background-color': 'blue'});
            }
            else {
              node_name.parent().css({'background-color': 'white'});
            }

            if(node_color.val() == "") {
              node_color.parent().css({'background-color': 'blue'});
            }
            else {
              node_color.parent().css({'background-color': 'white'});
            }
        }

        if(!COLORS.includes(node_color.val())) {
            console.log("This color is not valid");
        }
        else if(node_name.val() != "") {
            // console.log("sending");
            redraw();
            // prepare();
            // batch_nodes(false);
            // batch_links(true);
        }
    });

    $(document).on('keyup', '.link-row', function() {
        var link_row = $(this)
        var link_source = link_row.find("input[name='link-source']");
        var link_target = link_row.find("input[name='link-target']");
        var link_value = link_row.find("input[name='link-value']");

        if(link_source.val() == "" && link_target.val() == "" && link_value.val() == "") {
            link_source.parent().css({'background-color': 'white'});
            link_target.parent().css({'background-color': 'white'});
            link_value.parent().css({'background-color': 'white'});
        }
        else {
            if(link_source.val() == "") {
                link_source.parent().css({'background-color': 'blue'});
            }
            else {
                link_source.parent().css({'background-color': 'white'});
            }

            if(link_target.val() == "") {
                link_target.parent().css({'background-color': 'blue'});
            }
            else {
                link_target.parent().css({'background-color': 'white'});
            }

            if(link_value.val() == "") {
                link_value.parent().css({'background-color': 'blue'});
            }
            else {
                link_value.parent().css({'background-color': 'white'});
            }
        }

      // TODO: only send if source and key in nodes
      if(all_nodes.has(link_source.val()) && all_nodes.has(link_target.val())) {
          // alert("good to go");
          // if($(this).val() != "") {
            redraw();
            // prepare();
            // batch_nodes(false);
            // batch_links(true);
          // }
      }
      else {
          console.log("Source and Target must be valid nodes in node table")
      }

    });


    function batch_nodes(reload) {
        all_nodes.clear()

        var node_list = $('input[name="node-name"]').map(function() {
            var parent = $(this).parents(".node-row");
            if( parent.find("input[name='node-color']").val() != "" && $(this).val() != "") {
                return [$(this).val(), parent.find("input[name='node-color']").val()];
            }
        }).get();
        console.log("NL: " + node_list);


        // prepare();
        if(node_list.length > 0) {
            // var rslt = false;
            var i = 0;
            for(i=0; i<node_list.length; i += 2) {
                // console.log(i);
                // console.log("Lenght" + node_list.length);
                $.getJSON(CREATE_NODE, {name: node_list[i], color: node_list[i + 1]}, function (data) {
                    rslt = data.result;
                    // console.log("Got a response: " + rslt);

                });// End of getJSON
                all_nodes.add(node_list[i]);
                
            }
            

            if(reload) {
                console.log("here");
                d3.selectAll("svg > *").remove();
                $("#chart").html("");
                // batch_links(false);
                draw();
            }
        }
        else {
            alert("nah");
        }
        
        
    }

    function create_node(row, reload) {
        var node_name = row.find("input[name='node-name']").val();
        var node_color = row.find("input[name='node-color']").val();
        all_nodes.add(node_name);
        // alert(all_nodes);
        // console.log(node_name);
        $.getJSON(CREATE_NODE, {name: node_name, color: node_color}, function (data) {
            var rslt = data.result;
            // console.log("Got a response: " + rslt);
            if(rslt && reload) {
                d3.selectAll("svg > *").remove();
                $("#chart").html("");
                draw();
            }
        });// End of getJSON
        
    }

    function batch_links(reload) {
        all_links = 0

        var link_list = $('input[name="link-source"]').map(function() {
            var parent = $(this).parents(".link-row");
            if(parent.find("input[name='link-target']").val() != "" && parent.find("input[name='link-value']").val() != "" && $(this).val() != "") {
                return [$(this).val(), parent.find("input[name='link-target']").val(), parent.find("input[name='link-value']").val()];
            }
        }).get();
        console.log("LL: " + link_list);

        


        for(var i=0; i<link_list.length; i += 3) {
            if(all_nodes.has(link_list[i]) && all_nodes.has(link_list[i + 1])) {
                $.getJSON(CREATE_LINK, {source: link_list[i], target: link_list[i + 1], value: link_list[i + 2]}, function (data) {
                    var rslt = data.result;
                    // console.log("Got a response: " + rslt);
                    
                });// End of getJSON
                all_links +=1
            }
            else {
                console.log("NAH");
            }
        }


        if(all_links > 0) {
            

            if(reload == true) {
                // batch_nodes(false);
                // console.log("HERE");
                console.log("here");
                d3.selectAll("svg > *").remove();
                $("#chart").html("");
                draw();
            }
        }
        else {
            alert("nah");
        }
    }

    function create_link(row, reload) {
        var link_source = row.find("input[name='link-source']").val();
        var link_target = row.find("input[name='link-target']").val();
        var link_value = row.find("input[name='link-value']").val();
        console.log(link_source);
        if(all_nodes.has(link_source) && all_nodes.has(link_target)) {
            all_links += 1
            $.getJSON(CREATE_LINK, {source: link_source, target: link_target, value: link_value}, function (data) {
                var rslt = data.result;
                // console.log("Got a response: " + rslt);
                if(rslt && reload) {
                    d3.selectAll("svg > *").remove();
                    $("#chart").html("");
                    draw();
                }
            });// End of getJSON
        }
        else {
            console.log(all_nodes);
            console.log(link_source);
            console.log(link_target);
            console.log("NAH");
        }
    }

function redraw() {
    all_nodes.clear()
    all_links = 0
    prepare();
    batch_nodes(false);
    batch_links(true);
}
	


function draw() {
$.getJSON(GET_NODES, {}, function (data) {
        graph = data.result;
// load the data
// d3.json("sankey-formatted.json", function(error, graph) {

  var units = "Widgets";

var margin = {top: 10, right: 10, bottom: 10, left: 10},
    width = 700 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

var formatNumber = d3.format(",.0f"),    // zero decimal places
    format = function(d) { return formatNumber(d) + " " + units; },
    color = d3.scale.category20();

// append the svg canvas to the page
var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

// Set the sankey diagram properties
var sankey = d3.sankey()
    .nodeWidth(18)
    .nodePadding(40)
    .size([width, height]);

var path = sankey.link();

  sankey
      .nodes(graph.nodes)
      .links(graph.links)
      .layout(13);

// add in the links
  var link = svg.append("g").selectAll(".link")
      .data(graph.links)
    .enter().append("path")
      .attr("class", "link")
      .attr("d", path)
      .style("stroke-width", function(d) { return Math.max(1, d.dy); })
      .sort(function(a, b) { return b.dy - a.dy; });

// add the link titles
  link.append("title")
        .text(function(d) {
    		return d.source.name + " → " + 
                d.target.name + "\n" + format(d.value); });

// add in the nodes
var node = svg.append("g").selectAll(".node")
    .data(graph.nodes)
    .enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { 
        return "translate(" + d.x + "," + d.y + ")"; })
    .call(d3.behavior.drag()
    .origin(function(d) { return d; })
    .on("dragstart", function() { 
        this.parentNode.appendChild(this); })
    .on("drag", dragmove));

// add the rectangles for the nodes
node.append("rect")
    .attr("height", function(d) { return d.dy; })
    .attr("width", sankey.nodeWidth())
    // .style("fill", function(d) { 
    //     return d.color = color(d.name.replace(/ .*/, "")); })
    .style("fill", function(d) { 
        return d.color = d.color; })
    // .style("fill", node.color)
    // .style("stroke", function(d) { 
    // return d3.rgb(d.color).darker(2); })
    .append("title")
    .text(function(d) { 
    return d.name + "\n" + format(d.value); });

// add in the title for the nodes
node.append("text")
    .attr("x", -6)
    .attr("y", function(d) { return d.dy / 2; })
    .attr("dy", ".35em")
    .attr("text-anchor", "end")
    .attr("transform", null)
    .text(function(d) { return d.name; })
    .filter(function(d) { return d.x < width / 2; })
    .attr("x", 6 + sankey.nodeWidth())
    .attr("text-anchor", "start");


// append a defs (for definition) element to your SVG
const defs = svg.append('defs');
// add gradient to links
link.style('stroke', (d, i) => {
    // make unique gradient ids  
    const gradientID = `gradient${i}`;

    const startColor = d.source.color;
    const stopColor = d.target.color;

    const linearGradient = defs.append('linearGradient')
        .attr('id', gradientID);

    linearGradient.selectAll('stop') 
        .data([                             
            {offset: '10%', color: startColor },      
            {offset: '90%', color: stopColor }    
        ])                  
        .enter().append('stop')
        .attr('offset', d => {
            return d.offset; 
        })   
        .attr('stop-color', d => {
            return d.color;
        });

    return `url(#${gradientID})`;
})

// the function for moving the nodes
// FIXME: links disappear when nodes of equal height
function dragmove(d) {
  d3.select(this).attr("transform", 
      "translate(" + d.x + "," + (
              d.y = Math.max(0, Math.min(height - d.dy, d3.event.y)) + 1
          ) + ")");
  sankey.relayout();
  link.attr("d", path);
}


});
}

</script>

</body>
</html>